<config>
    <modules>
        <HOM_Barcode>
            <version>0.1.1</version>
        </HOM_Barcode>
    </modules>
    <global>
        <resources>
            <orderstate_setup>
                <setup>
                    <module>HOM_Barcode</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderstate_setup>
            <orderstate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderstate_write>
            <orderstate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderstate_read>
        </resources>
        <sales>
            <order>
                <statuses>
                    <shipped translate="label">
                        <label>Shipped</label>
                    </shipped>
                </statuses>
                <states>
                    <shipped translate="label">
                        <label>Shipped</label>
                        <statuses>
                            <shipped default="1"/>
                        </statuses>
                    </shipped>
                </states>
            </order>
        </sales>
        <models>
            <barcode>
                <class>HOM_Barcode_Model</class>
            </barcode>
        </models>
        <helpers>
            <barcode>
                <class>HOM_Barcode_Helper</class>
            </barcode>
        </helpers>
    </global>
    <admin>
        <routers>
            <HOM_Barcode>
                <use>admin</use>
                <args>
                    <module>HOM_Barcode</module>
                    <frontName>hombarcode</frontName>
                </args>
            </HOM_Barcode>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <hombarcode>
                    <file>hombarcode.xml</file>
                </hombarcode>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <HOM_Barcode_Model_Observer>
                        <type>singleton</type>
                        <class>HOM_Barcode_Model_Observer</class>
                        <method>addMassAction</method>
                    </HOM_Barcode_Model_Observer>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_order_shipment_save_after>
                <observers>
                    <hom_barcode_sales_order_shipment_save_after>
                        <type>singleton</type>
                        <class>barcode/observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </hom_barcode_sales_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hombarcode>
                                            <title>HOM - All</title>
                                        </hombarcode>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <hombarcode>
            <soap_connection>
                <endpoint_url>https://wsbc.post.ch/wsbc/barcode/v2_2</endpoint_url>
            </soap_connection>
            <webservice>
                <label_layout>A6</label_layout>
            </webservice>
            <file_infos>
                <name1>Meier AG</name1>
                <street>Viktoriaplatz 10</street>
                <zip>8050</zip>
                <city>Zurich</city>
                <domicile_post_office>3000 Bern</domicile_post_office>
            </file_infos>
        </hombarcode>
    </default>
</config>
